.player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player__img {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    cursor: pointer;
}

.player__iframe {
    border-radius: 10px;
    height: 90vh;
}

.player__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}